@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    5931 RICKY RIDGE TRL<br />
    OREFIELD, PA 18069<br />
    <abbr title="Phone">P:</abbr>
    610.703.7551
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">ACEFLYINGCHARIOT@GMAIL.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">ACEFLYINGCHARIOT@GMAIL.com</a>
</address>