@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Office Pool</h1>
    <p class="lead">Office Pool for all</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcom to Office Pool</h2>
        <p>
            Manage all your office pools in one place.
        </p>        
    </div>    
</div>